[Unit]
Description=This script will start launch
After=network.target

[Service]
Type=exec
User=Gruppe250
ExecStart=/usr/bin/python3 -u /home/Gruppe250/Server_ESP32/TCPServer_esp32.py
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
